---
import { Icon } from 'astro-icon/components'


---
<!-- Header -->
<header class="border-b border-gray-200">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
          <!-- Logo -->
          <div class="flex items-center space-x-2">
            <div
              class="w-8 h-8 bg-black rounded flex items-center justify-center"
            >
            <span class="text-blue-400 font-bold text-lg">D</span>
              
            </div>
            <div class="flex flex-col">
              <span class="text-xs text-gray-500 uppercase tracking-wide"
                >GESTOR</span
              >
              <span class="text-lg font-bold text-gray-900">DashUp</span>
            </div>
          </div>

          <!-- Navigation -->
          <nav class="hidden md:flex items-center space-x-8">
            <div
              class="flex items-center space-x-1 text-gray-600 hover:text-gray-900 cursor-pointer"
            >
              <span>Funciones</span>
              <Icon name="flecha" size={20} />
            </div>
            <div
              class="flex items-center space-x-1 text-gray-600 hover:text-gray-900 cursor-pointer"
            >
              <span>Soluciones</span>
              <Icon name="flecha" size={20} />
            </div>
            
            <div
              class="flex items-center space-x-1 text-gray-600 hover:text-gray-900 cursor-pointer"
            >
              <span>Recursos</span>
              <Icon name="flecha" size={20} />
            </div>
          </nav>

          <!-- Auth buttons -->
          <div class="flex items-center space-x-4">
            <button id="open-login-modal" class="text-gray-400 hover:text-gray-600 cursor-pointer font-medium transition-all duration-200 hover:scale-105 active:scale-95">
              Iniciar sesión
            </button>
            <button
                id="open-signup-modal"
                class="bg-blue-500 hover:bg-blue-600 text-white px-6 py-2 rounded-md font-medium transition-all duration-200 hover:scale-105 active:scale-95 cursor-pointer shadow-md hover:shadow-lg"
              >
              Registrate
            </button>
          </div>
        </div>
      </div>
    </header>